
#container{
    margin: 20px auto;
    width: 50%;
}
#user_card{
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #F5F5F5;
    width: 100%;
}


#buttonFollow{
    background-color: #0080FF;
    border-radius: 1px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    
}
#buttonFollowing{
    background-color: #044FB3;
    border-radius: 1px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    
}
#buttonFollow i,#buttonFollowing i{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    
}
#add_user_bu{
    background-color: #0c4a6e;
    border-radius: 4px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
 
}
.searchAdd{
    display: grid;
    grid-template-columns: 7fr 2fr;
    padding-top: 15px; 
    padding-left: 25px;
    margin: 10px auto ;
    width: 550px;
}
.form-control{
    border-radius: 4px;
    width: 200px;
}
#searchBox{
    margin-left: 30%;
    margin-top: 10px;
}
